@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Poiret+One|Quicksand|Raleway');

body{
	/*font-family: 'Raleway', Verdana; */
	font-family: 'Mayhem', Verdana;
	margin: 0px auto;
	color: #7c7c7c;
	background: url('/front/background-7.jpg');
	background-size: cover;
	min-width: 300px;
}

@font-face {
    font-family: 'Mayhem'; 
    /*src: url("/fonts/Mayhem-Regular.otf") format("opentype"); */
    src: url("/fonts/Blok.ttf") format("opentype");
    font-style: normal;
}

a.home-link-panel {
    font-size: 35px;
    font-family: 'Mayhem', Verdana;
}

.row.title-toolbar {
	background-color: black;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	height:150px;
}
.footer-text {
    text-align: center;
    color: white;
	margin: 0px;
	font-family: sans-serif;
}

footer.ng-scope {
    width: 100%;
    position: fixed;
    bottom:0px;
    background-color: black;
}

.banner-text {
	padding-top:25px;
}

.navbar-nav {
	width: 100%;
	margin-left: 100px;
}

.navbar-inverse .navbar-nav>li>a {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: -20px;
}

.home-link {
	font-size: 50px;
}

.about-me {
	display: block;
	
	width: 60%;
	height: 600px;
	background-color: transparent;
	opacity: 0.5;
	height: 550px;
	margin-top: 50px;
	margin-left: 100px;

}

.top-content-div{
	position: absolute;
    width: 220px;
    height: 550px;
    top: 210px;
    right: 150px;
    border: 0.2px grey solid;
    border-radius: 4%;
    background-color: black;
    top: 210px;
    font-family: 'Didact Gothic';
}

.main-body-div {
	font-family: Raleway;
	font-color: white;
}

.top-div-subtitle {
	font-weight: bold;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

.top-div-list {

}

.top-div-list > li {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

.top-div-list > li > p{
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.read-more{
	font-weight: normal;
}

.svg-icons {
	display: inline-block;
	vertical-align: top;
}

.text-items {
	display: inline-block;
}

.svg-icons > img {
    width: 30px;
    height: 30px;
}

a:visited { 
    color: white;
}

a {
	color: white;
}






